<html>

<head>
<title>Violent Crime Rates App</title>
</head>

<p>This app allows the user to select the crime type and view a choropleth map that shows how a measurement varies across a geographic area. For example, if you choose "Murder"" for the crime type, the choropleth map will display a variation in color by the crime rate ( per 100,000 people) for each of the states in the US.  The darker shade indicating higher crimes committed per 100,000 people and lighter shades being lower crime rates committed per 100,000 people.

<body>

<p>There are tabs below the crime type maps that lets you see the percent urban population choropleth map as well as the relationship between crime type per 100,000
people and urban population based on the selected crime type by the user.  In addition, there is a tab for summary statistics for each of the crime types and another tab for the USArrest data.</p>


</body>
</html>
